.layout-switch{
    margin: 15px 0;
    text-align: center;
}
.layout-switch button{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #444;
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
.layout-switch button:hover{
    background-color: #666;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 15px;
    padding: 20px;
    justify-items: center;
}

.gallery-item {
    width: 100%;
    height: auto; 
    overflow :hidden ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit:cover; 
    border-radius: 10px;
    transition: transform 0.3s ease; 
} 

.gallery-item img:hover {
    transform: scale(1.05); 
} 

/*
.gallery img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.gallery img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
} */

.masonry{
    column-count: 3;
    column-gap: 15px;
    padding: 20px;
}
.masonry-item{
    margin-bottom: 15px;
    break-inside: avoid;
    border-radius:10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.masonry-item img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: tranform 0.3s ease;
}
.masonry-item img:hover{
    transform: scale(1.05);
}